<!DOCTYPE html>
<html>
  <head>
    <title>Ryu1's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
      <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
      <div class = "main_main">
        Test file index.html
      </div>
      <div>
          <!-- <a href="./about"><img src = "../img/about.png" class = "category"></a>
          <a href="./portfolio"><img src = "../img/portfolio.png" class = "category"></a>
          <a href="./strength"><img src = "../img/square.png" class = "category"></a>
          <a href="./contact"><img src = "../img/square.png" class = "category"></a> -->
      </div>
  </body>
</html>
